body{

    background-color: indigo;
    color: rgb(0, 0, 0);
    font-family: "Playpen Sans", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0px;
}

button{

    background-color: rgba(16, 2, 68, 0.822);
    color:rgba(255, 255, 255, 0.904);
    font-family: "Playpen Sans", cursive;

}

.passo{
    display: none;
}

.passo.ativo{
    display:block ;

}
