body{

    background-color: blue;
    color: rgb(255, 255, 255);
  font-family: "Bona Nova SC", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0px;
}

button {
    background-color: rgba(16, 2, 68, 0.822);
    color: rgba(255, 255, 255, 0.904);
    font-family: "Bona Nova SC", serif;
    border-radius: 50px; /* Define bordas arredondadas */
    padding: 10px 20px; /* Ajuste o preenchimento para um botão mais espaçoso */
}

.passo{
    display: none;
}

.passo.ativo{
    display:block ;

}

main{
    text-align: center;
    max-width: 90%;


}

img {
    display: block; /* Faz com que a imagem seja tratada como um elemento em bloco */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    max-width: 30%; /* Define que a imagem terá no máximo 70% da largura disponível */
    padding: 30px; /* Adiciona 30px de espaço ao redor da imagem */
    border-radius: 50px; /* Define bordas arredondadas */
    padding: 10px 20px; /* Ajuste o preenchimento para um botão mais espaçoso */
}

